.venv/
.env
.env.*
__pycache__/
*.py[cod]
*.sqlite3
mlflow.db
db.sqlite3
dummy.pt
.DS_Store
MinioIntegration/
mlruns/
registration/.venv/
registration/test_models/venv/
registration/test_models/*.onnx
registration/test_models/*.pt
registration/test_models/*.data
node_modules/
registration/scratch/
